#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: helvetica;
    font-size: 1.3rem;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

input {
    border: none;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
    background-color: #6a0250;
    color: white;
}

label {
    font: inherit;
}

.configuration-option {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;
    left: 23%;
    gap: 0.5rem;
}

.configuration {
    border: 3px solid #5d5291;
    border-radius: 8px;
    background-color: #5d5291;
    color: white;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
